node_modules
.git
dist
build
images
.code-market
*.png
*.jpg
*.jpeg
*.gif
*.ico
*.svg
*.exe
*.dll
*.so
*.dylib
*.wasm
*.zip
*.tar.gz
*.tar
*.rar
*.7z
*.pdf
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx
*.mp3
*.mp4
*.avi
*.mov
*.mkv
*.woff
*.woff2
*.ttf
*.eot
*.otf
